:root {
  --asu-maroon: #8C1D40;
  --asu-gold: #FFC627;
  --asu-white: #FFFFFF;
  --asu-gray: #747474;
}

* {
    text-align: center;
}

body {
  font-family: Arial;
  color: #333;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--asu-maroon);
}

footer {
  background-color: var(--asu-gold);
  color: var(--asu-gray);
  margin-top: auto;
}